/* Header 
.header-bg {
  background-image: url(../OGAH\ GESER!!!.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 215px;
}

  .header-text {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    filter: none;
  }
*/

/* Body */
body {
 font-family: Arial, Helvetica, sans-serif; 
 background-color: #000;
}

.header-bg {
  position: relative;
  overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
  padding: 215px;
}

.header-bg::before {
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/images/OGAH\ GESER!!!.jpg);
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  filter: blur(7px); /* Adjust the blur as needed */
  z-index: 1; /* Place it behind the text */
}

.header-text {
  position: relative; /* Make sure the text is above the blurred background */
  z-index: 2; /* Higher than the blurred background */
  color: white; /* Change text color as needed for contrast */
  text-align: center; /* Center the text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
  

/* Navbar */
.navbar {
  background-color: #555;
  overflow: auto;
}

  .navbar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 10px 0;
    transition: all 0.5 ease;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }

  .navbar a.active {
    background-color: #000000;
    text-decoration: none;
  }

  .navbar span {
    padding: 10px;
  }

  .navbar a:hover {
    background-color: #fff;
    color: #000;
  }

/* Content "row" */
* {
  box-sizing: border-box;
}

  .row {
    display: flex;
    flex-wrap: wrap;
  }

    .side {
      -ms-flex: 30%;
      flex: 30%;
      background-color: #ddd;
      padding: 20px;
      transition: left 0.5s;
    }

      .side h1 {
        border-bottom: 2px solid black;
        margin-bottom: 7px;
      }

    .main {
      -ms-flex: 70%;
      flex: 70%;
      background-color: #fff;
      padding: 20px;
    }

      .main .imageStyle {
        width: 100%;
      }

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #555;
}

  .footer a {
    color: #fff;
    font-size: 24px;
  }

  