body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
#main {
    transition: margin-left .5s;
    padding: 16px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Main */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
  .card {
    width: 48%;
    max-width: 48%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 20px;
  }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover, a:hover {
        opacity: 0.7;
    }
  
/* Media query untuk layar lebih kecil */
@media screen and (max-width: 650px) {
    .main {
      width: 100%; /* Pada layar kecil, setiap item akan mengisi seluruh lebar */
      display: block;
    }
}